@import url("https:''fonts.gooleapis.com/css2?family=Source+Sans+Pro:wght@400;600");
$gap: 10px;

// Height app bar + board bar + board content = 99vh + 1vh for scroll bar
$navbar-app-height: 5vh;
$navbar-board-height: 8vh;
$board-content-height: 88vh;

$column-header-height: 46px;
$column-footer-height: 46px;
$column-border-radius: 5px;
$column-height: calc(#{$board-content-height} - #{$gap * 2});
$card-border-radius: 4px;

//color
$colum-bg-color: #ebecf0;
$common-element-bg: rgba(255, 255, 255, 0.24);
$board-bg-color: #0079bf;
$input-border-color: #0079bf;
$app-main-text-color: #333;
$alert-danger: #ee5253;

//Screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: "(max-width: 375px)";
